@using Ecommerce.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ApplicationDbContext db = new ApplicationDbContext();
    int en_attente = db.Commandes.Count(x => x.id_status == 1);
    ViewBag.EnAttente = en_attente;
}


<div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 sideMenuToggler">
                       
                        <span class="material-icons icon expandView">
                            open_in_full
                        </span>
                        <span class="text">menu caché</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Dashboard" class="nav-link px-2">
                        <span class="material-icons icon">
                            insights
                        </span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Produits" class="nav-link px-2">
                        <i class="material-icons icon">
                            bookmark_border
                        </i><span class="text">Produits</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Commandes/All" class="nav-link px-2">
                        <i class="material-icons icon">
                            view_module
                        </i>
                        <span class="text">Orders (@ViewBag.EnAttente)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Promotions" class="nav-link px-2">
                        <span class="material-icons icon">
                            lightbulb
                        </span>
                        <span class="text">Promotions </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Categories/Index" class="nav-link px-2">
                        <span class="material-icons icon">
                            category
                        </span>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/ApplicationUsers/Index" class="nav-link px-2">
                        <span class="material-icons icon">
                            supervisor_account
                        </span>
                        <span class="text">Client</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/ApplicationUsers/Admins" class="nav-link px-2">
                        <span class="material-icons icon">
                            badge
                        </span>
                            <span class="text">Administrateurs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/CompteUser" class="nav-link px-2">
                        <span class="material-icons icon">
                            manage_accounts
                        </span>
                        <span class="text">Mon compte</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>
</div>


@section chartSection{
    @RenderSection("chart", required: false)
}
