
<div class="footer">
    <footer>
        <div class="container">
            <div class="row ">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Liens</h5>
                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Accueil ", "Index", "Home", routeValues: null, htmlAttributes: new { })

                        </li>
                    @*    <li>
                            @Html.ActionLink("À propos", "About", "Home", routeValues: null, htmlAttributes: new { @class = "" })

                        </li>*@
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>À PROPOS</h5>
                    <address class="address">
                        MFStore créé en Janvier 2021,dont l’objectif et la vision sont de fournir les composants éléctroniques et informatiques au meilleur prix pour tous les Marocains.
                        <i class="fa fa-phone fa-lg my-2">  Tel.: +2126 12 34 56 78</i><br>
                        <i class="fa fa-fax fa-lg my-2"> Fax: 05 35 12 34 56</i><br>
                        <i class="fa fa-envelope fa-lg my-2"> Email: <a href="mailto:MFStore@gmail.com">MFStore@gmail.com</a></i>
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <p>RETROUVEZ-NOUS SUR</p>
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <p>© Copyright 2021 MFStore ENSA Fes</p>
                </div>
            </div>
        </div>
    </footer>
</div>
