@model PagedList.IPagedList<Ecommerce.Models.Commande>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_ClientDashboard.cshtml";
}

<div class="margin-top">
    <div class="card w-100">
        <div class="card-header">
            Notifications
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item  ">
                    Status de commande de Numéro d'id <span class="font-weight-bold">@item.id</span> à été change de "En attente" à "Livré"
                    <p>@item.date_update.ToString("HH:mm dd/MM/yyyy")</p>
                </li>
            }

        </ul>
    </div>
    <div class="container">
        @Html.PagedListPager(Model, page => Url.Action("Notifications", new { page }))

    </div>
</div>
